img {
  /* max-height: 300px; */
  /* height: 300px; */
  object-fit: cover;
  
}
.product {
  
  height: 700px!important;
  max-height: 900px!important;
  cursor: pointer;
  transition: scale 0.26s;
}
.product:hover {
  scale: 1.06;
}
